<div class="container">
  <div class="row">
    <div>
      <form (ngSubmit)="onCreate()" novalidate #f="ngForm">
        <div class="form-group">
          <label for="instituto">Nombre del instituto</label>
          <input type="text" class="form-control" id="instituto" name="instituto" [(ngModel)]="instituto" required>
        </div>
        <div class="form-group">
          <label for="titulo">Nombre del titulo</label>
          <input type="text" class="form-control" id="titulo" name="titulo" [(ngModel)]="titulo" required>
        </div>
        <div class="form-group">
          <label for="urllogoedu">Agregar la URL del logo de la institución</label>
          <input type="text" class="form-control" id="urllogoedu" name="urllogoedu" [(ngModel)]="urllogoedu" required>
        </div>
        <div class="form-group">
          <label for="aniodesde">Año de inicio</label>
          <input type="text" class="form-control" id="aniodesde" name="aniodesde" [(ngModel)]="aniodesde" required>
        </div>
        <div class="form-group">
          <label for="aniohasta">Año de finalización</label>
          <input type="text" class="form-control" id="aniohasta" name="aniohasta" [(ngModel)]="aniohasta" required>
        </div>
        <button class="btn btn-primary">
          Agregar educación
        </button>
      </form>
    </div>
  </div>
</div>
